# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
env/
venv/
ENV/

# IDE/editor folders
.vscode/
.idea/

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Others
*.pyc
*.pyo
